.Home,
.FavouritePlaces {
  margin-left: 5rem;
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.card-stash {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 5rem;
  padding-right: 5rem;
}

.Card {
  width: 300px;
  margin: 2rem;
}

@media only screen and (max-width: 600px) {

  .Home,
  .FavouritePlaces {
    margin: 0;
  }

  .card-stash {
    display: block;
    width: 100vw;
    padding: 0;
  }

  .Card {
    width: 87vw;
  }
}