.App {
  text-align: center;
}

.Home,
.FavouritePlaces {
  margin-left: 5rem;
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

@media only screen and (max-width: 600px) {

  .Home,
  .FavouritePlaces {
    margin: 0;
  }
}