.Card {
  transform: translateX(-1rem);
  width: 300px;
  margin: 0 0 2rem;
  position: relative;
}

.Card::before {
  content: "";
  background: #201c29;
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  padding-bottom: 1rem;
}

.Card>* {
  position: relative;
}

.Card-head {
  clear: both;
  margin: 0;
  overflow: hidden;
}

.placeholder {
  position: relative;
  border-radius: 8px;
  animation: pulse 1s infinite ease-in-out;
}

.Card-image {
  width: 300px;
  display: block;
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(16, 14, 23, .25);
  position: absolute;
  top: 0;
  left: 0;
}

.Card-body {
  font-weight: 400;
  padding: 1rem 1rem 2rem 55px;
  margin-left: 1rem;
  white-space: normal;
  text-align: left;
}

.Card-name {
  font-size: 2rem;
  position: relative;
  left: -4.5rem;
  color: var(--text-secondary);
  font-weight: 600;
}

.Card-head .toggle-favourite {
  border: none;
  margin: 0;
  position: relative;
  top: -11.625rem;
  right: -7.375rem;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
  color: rgba(224, 39, 96);
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@keyframes pulse {
  0% {
    fill: rgba(71, 82, 104, .9);
  }

  50% {
    fill: rgba(71, 82, 104, .7);
  }

  100% {
    fill: rgba(71, 82, 104, .9);
  }
}