:root {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-primary: #282c34;
  --bg-secondary: #475268;
  --bg-tertiary: #26324b;
  --text-primary: #ececec;
  --text-secondary: #aaaaaa;
  --transition-speed: 600ms;
}

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

img,
svg {
  border: 0;
  height: auto !important;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}